
/* Fonts Used */
/*font-family: 'Architects Daughter', cursive;*/
/*font-family: 'Satisfy', cursive;*/


$titleBackground:rgba(241, 187, 9, 0.4);

/* Tags */
* {
    margin: 0px;
}



ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    font-weight: 400; }

nav {
    background-color: $titleBackground;
}

h3 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
}


footer {
    width: 100%;
    height: 300px;
    background-color: #fbf6f0;
}

a { display: inline-block; text-decoration: none; }

footer h1 {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: ghostwhite;
    display: grid;
    place-items: center;
    width: 100%;
}



/* Ids */



.igIcon {
    padding: 30px;
}

.title {
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 80px;
}

.twitterIcon {
    padding: 30px;
}

.frontPage {
    display: grid;
    place-items: center;
    background-color: $titleBackground;
    height: 670px;
    width: 100%;
}

.sneaker1 {
    max-width: 100%;
    height: auto;
}

.aboutPageTitle {
    text-align: center;
    padding: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
}

.aboutUs {
    display: grid;
    place-items: center;
}

.aboutContent {
    height: 700px;
    width: 100%;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.items {
    background-color: $titleBackground;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.box {
    flex: 0 1 300px; /*  No stretching: */
    height: 300px;
    margin: 50px;
    margin-top: 60px;
    place-items: center;
}

.shoeImg {
    max-width: 100%;
    height: auto;
}

.boy {
    position: relative;
    left: 40px;
}

@media (max-width: 375px){
    .aboutContent {
        font-size: 20px;
        line-height: 25px;
    }

    .title {
        font-size: 50px;
        color: black;
        font-family: 'Satisfy', cursive;
    }

    li {
        font-size: 10px;
        font-weight: 500;
    }
}

@media (min-width: 700px){
    .aboutContent {
        line-height: 30px;
        height: 400px;
    }
}

img {
    max-width: 100%;
    height: auto;
}